go 1.23.4

toolchain go1.23.6

use (
	./archiva_go
	./orchestrator
	./protos
	./remote_process
	./tests
)

replace google.golang.org/genproto => google.golang.org/genproto v0.0.0-20230711160842-782d3b101e98

replace google.golang.org/genproto/googleapis/rpc => google.golang.org/genproto/googleapis/rpc v0.0.0-20230711160842-782d3b101e98
